Repository codecov/example-flags: changes, and which Codecov flags are due for each by the changed paths.
All: calculator, smiles

Add flags to the status checks
  codecov.yml
Due: none

Switch to automatic flags and add new tests
  .github/workflows/ci.yaml
  codecov.yml
  new_feature/__init__.py
  new_feature/auth.py
  smiles/smiles.py
  tests/test_auth.py
Due: smiles

function divide and multiply
  calculator/calculator.py
Due: calculator

Test divide and multiply
  tests/test_calculator.py
Due: none

chore(ci): add fossa workflow
  .github/workflows/enforce-license-compliance.yml
Due: none

chore(ci): upgrade to v5
  .github/workflows/ci.yaml
Due: none

ci: remove Enforce License Compliance workflow
  .github/workflows/enforce-license-compliance.yml
Due: none

ci: remove Enforce License Compliance workflow (#8)
  .github/workflows/enforce-license-compliance.yml
Due: none

Path conditions:
  calculator: any of: calculator/, but not: tests/*
  smiles: any of: smiles/, but not: tests/*
